<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Detalle del producto</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <img src="/images/logo.png" alt="Craftsy">
        <nav>
            <ul>
                <li><a href="">Smartphones</a> </li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            
        </nav>
    </header>
</body>
</html>